@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  max-width: 100%;
  scroll-behavior: smooth;
  cursor: none
}

::-moz-selection{
  color: black;
  background: #80FFDB
}

::selection{
  color: black;
  background: #80FFDB;
}

a, button, canvas:hover {
  cursor: none
}

progress::-moz-progress-bar { 
  background-color: #41190f; 
}

progress::-webkit-progress-value { 
  background-color: #41190f; 
}

progress {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #41190f;
  border-radius: 2px;
  color: #41190f;
  height: 16px;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 4px;
}

:root {
  --navbar-height: 80px;
}

.cursor {
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #FFFFF0;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20px;

    box-shadow: inset 0 0 0 2px #FFFFF0; /* Match track color to create spacing effect */
}

}
